@charset "ISO-8859-1";

.ModulodeActualizaciones{
    display: flex;
}

.contenedorformActualizar{
    width: 50vw;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
    color: #27868c;
    border: solid 3px #27868c;
}

.cabeceraModuloActualizar{
    display:flex;
    justify-content: space-between;
    justify-items: center;
}

.imgLogoUserActualizar{
    height:120px;
    width:150px;
    top: 0;
    right: 20px;
    z-index: -1;
}

.subtActualizar{
    font-size:25px;
    color: #27868c;
    margin-left: 15%;
    margin-top: 6%;
}

.labelActualizar{
    font-size: 14px;
    margin-right: 2%;
}

.datosActualizar{
    display: flex;
    justify-content: space-between;
    color: #27868c;
}

.inputConsultaActualizar{
    padding: 7px;
    box-sizing: border-box;
    font-size: 12px;
    border: 2px #27868c solid;
    border-radius: 10px;
    width:100%;
    display: flex;
    justify-content: space-between;
    justify-items:center;
    margin-right:4%;
}

#BotonConsultaActualizar{
    color:white;
    padding: 1.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    background-color: #27868c;
    width: 100%;
}
#BotonConsultaActualizar:hover, #datosxActualizar:hover{
    background-color:#9cd259;
    cursor: pointer;
}

#tablaActualizar{
    margin-top:5%;
    caption-side:bottom;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-collapse: collapse;
    display: none;
}

.botondatosxraActualizar{
    color:white;
    background-color: #27868c;
    padding: 1.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 20px;
    
}

th{
    background-color:#9cd259;
    color: white;
}

td,th{
    border: 2px solid #27868c;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#seccionFormActualizar{
    display: none;
    
}

.formDatosActualizar{
    margin-top: 3%;
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}


.inputDatoActualizar{
    padding: 2%;
    box-sizing: border-box;
    font-size: 12px;
    border: 2px #27868c solid;
    border-radius: 10px;
    padding: 1.5%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 150%;
}

.labelFormActualizar{
    width:80%;
    margin-left:2%;
}

#idesconder{
    color: white;
    border: 2px white solid;
    width: 150%;
}

#idActualizar{
    pointer-events: none;
    opacity: 0.4;
}

.datosPersonalesActualizar{
    display: flex;
    justify-content: space-around;
    margin-block: 2%;
}

.datosUsuarioActualizar{
    display: flex;
    justify-content: space-around;
    margin-block: 2%;
}

.botonActualizar{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top:2%;
    
}


.botonCrudActualizar{
    color:white;
    padding:1.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border-radius: 10px;
    background-color: #27868c;
    
    
}

.botonCrudActualizar:hover{
    cursor: pointer;
    background-color: #9cd259;
}


