
header{
    margin: auto;
    font-family:'Antic Slab', serif;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    z-index:100;
}


ul{
    list-style:none;
}

.contenido2 > li {
    display: inline-block;
    width: 150px;
       
}

.contenido2 li a {
    background-color:#78b2b8;
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding:10px 12px;
    display: block;
    
}

.contenido2 li a:hover{
    background-color:  #5cbbc3;
}

.contenido2 li ul{
    position:absolute;
    display: none;
    z-index: 100;
    min-width: 150px;
    
}

.contenido2 li:hover > ul{
    display: block;
    min-width: 150px;
    padding-left: 0%;
}


.fondo{
    display: flex;
    justify-content: center;
    justify-items: center;
   
}

.imgFondo{
    opacity:0.1;
}

#Usuarios{
    background-color:#9cd259;
}

#Clientes{
    background-color: #dceb56;
}
#Proveedores{
    background-color:#297d84;
}
#Productos{
    background-color:#7bc4cd;
}
#Ventas{
    background-color:#5cbbc3;
}
#Reportes{
    background-color:#78b2b8;
}




